#toDoRect{
    animation: todo1 5s infinite;
}

#toDoLine{
    animation: todo2 5s infinite;
}

#toDoText{
    animation: todo3 5s infinite;
}

@keyframes todo1 {
    0%{opacity: 0%;}
    40%{opacity: 0%;}
    50%{opacity: 100%;}
    90%{opacity: 100%;}
    100%{opacity: 0%;}
}

@keyframes todo2 {
    0%{opacity: 0%;}
    50%{opacity: 0%;}
    60%{opacity: 100%;}
    90%{opacity: 100%;}
    100%{opacity: 0%;}
}

@keyframes todo3 {
    0%{opacity: 0%;}
    20%{opacity: 0%;}
    30%{opacity: 100%;}
    50%{opacity: 100%;}
    60%{opacity: 30%;}
    90%{opacity: 30%;}
    100%{opacity: 0%;}
}