@font-face{
    font-family: myFont;
    src: url('../assets//fonts/Choti.ttf');
}

@font-face {
    font-family: ubuntu;
    src: url('../assets/fonts/Ubuntu-Medium.ttf');
}

#root{
    width: 100%;
    min-height: 100%; 
    max-height: 100%;
    margin: 0%;

}

#content{
    position: relative;
    width: 100%;
    min-height: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    flex-grow: 1;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#header_title{
    width: clamp(200px, 70%, 200px);
    display: flex;
    margin: 1%;
    justify-content: center;
    font-family: myFont;
    font-size: clamp(60px, 250%, 400px);
    border-radius: 10px;
    transition: all 200ms;
    padding: 0 5px 0 5px;
    place-items: center;
    place-content: center;   
}


#header_title:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: black;
}

#header_title:hover>a{
    color: black;
    text-decoration: none;
}

#header_links{
    font-size: clamp(20px, 100%, 300px);
    width: clamp(400px, 100%, 400px);
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

#header_links>a{
    margin: 0 5px 0 5px;
}

footer{
    height: 5%;
    width: 100%;
    text-align: center;
    place-content: center;
}

footer>span{
    margin-right: 0.7%;
}

.start_div{
    position: absolute;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: ubuntu;
    transition: all 900ms;
}

#start_top{
    top: 0;
    align-items: flex-end;
    font-size: 250%;
    background-color: rgb(255, 255, 255);
    color: black;
}

.start_top_c{
    transform: translate(0, -100%);
}

.start_bottom_c{
    transform: translate(0, 100%);
}

#start_bottom{
    background-color: black;
    bottom: 0;
    align-items: start;
    font-size: 300%;
}

@media(max-width: 500px){
    #header_links>a:hover{
        color: aliceblue;
    }
}
