.tile{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 200ms linear;
}

.tile_content{
    width: 80%;
    height: 90%;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    transition: transform 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    
}
.tile_content:hover{
    transform: scale(1.2);
}

.tile_content:hover>a>i{
    opacity: 0%;
}

.tile_content>a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.tile_content:hover>a>#calcSvg,
.tile_content:hover>a>#tic_tac_toeSvg,
.tile_content:hover>a>#toDoSvg,
.tile_content:hover>a>#blogSvg,
.tile_content:hover>a>#messageSvg{
    opacity: 100%;
}

#calcSvg,#tic_tac_toeSvg,#toDoSvg,#blogSvg,#messageSvg{
    position: absolute;
    opacity: 0%;
    height: 80%;
    width: 60%;
    transition: opacity 300ms;
}

.tile-snapped>#tile01>a>svg,
.tile-snapped>#tile02>a>svg,
.tile-snapped>#tile03>a>svg,
.tile-snapped>#tile04>a>svg,
.tile-snapped>#tile05>a>svg{

    opacity: 100%;
    height: 70%;
    width: 80%;
}


